In [2]:
import pandas as pd
import numpy as np

Pair Programming Estadística I
Empezamos una nueva lección, y este es el momento de poner en práctica los conocimientos adquiridos del Estadística Descriptiva básica. En este caso vamos a darle un giro de tuerca a la forma en la que se ha resuelto los ejercicios de la Pair de hasta ahora! Para ello os vamos a pedir que por vuestra cuenta busqueis un dataset que os guste, por ejemplo de Kaggle o de donde queráis extraerlo. De esta forma vamos a estudiar los diferentes estadísiticos que contiene en dataset seleccionado Para todas los ejercicios de pair programming de Estadística I, II y III usaremos el dataframe que se tome para el desarrollo de este ejercicio de pair programming.
Objetivos
Los objetivos de hoy son:

    1. Buscar un conjunto de datos a analizar:
        - Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas. Ya que también se analizarán.

In [3]:
df = pd.read_csv("avocado.csv", index_col= 0)

In [4]:
df.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [7]:
df.shape

(18249, 13)

    2. Extraer los siguentes estadísticos del conjunto de datos para varias de las variables disponibles:
        2.1. Media
        2.2. Desviación con respecto de la media

In [14]:
# calculamos la media
df["AveragePrice"].mean()

1.405978409775878

In [24]:
df["AveragePrice"].median()

1.37

In [15]:
# calculamos la desviacion media

desviacion_media = np.abs(df["AveragePrice"] - df["AveragePrice"].mean())
desviacion_media

0     0.075978
1     0.055978
2     0.475978
3     0.325978
4     0.125978
        ...
7     0.224022
8     0.304022
9     0.464022
10    0.524022
11    0.214022
Name: AveragePrice, Length: 18249, dtype: float64

        2.3. Varianza
        2.4. Desviación típica

In [16]:
# calculamos la varianza

df["AveragePrice"].var()

0.1621484083457613

In [17]:
# calculamos la desviacion tipica o estandar

df["AveragePrice"].std()

0.40267655549555065

        2.5. Moda
        2.6. Mediana

In [18]:
#calculamos la moda

df["AveragePrice"].mode()

0    1.15
Name: AveragePrice, dtype: float64

In [19]:
#calculamos la mediana

df["AveragePrice"].median()

1.37

In [13]:
df.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

        2.7. Media ponderada
        2.8. Robustez

In [21]:
# calculamos pesos aleatorios y a continuacion la media pomderada
w = np.random.randint(0,100, df.shape[0])

avg = np.average(df["AveragePrice"], weights=w)
print(avg)

1.4050811459370842

In [2]:
import numpy as np

In [6]:
w = [0.25, 0.85, 0.40]
notas = [7, 5, 9]
avg = np.average(notas, weights = w)
avg

6.3999999999999995

In [26]:
print(df["AveragePrice"].median())
print(df["AveragePrice"].mean())

1.37
1.405978409775878

Los datos parecen bastante homogéneos ya que la media y la mediana son muy parecidas, por lo tanto parecen bastante robustos.

        2.9. Coeficiente de variación

In [23]:
print(df["AveragePrice"].mean()) # media para todos los datos
print(df["AveragePrice"].std()) # desviación típica para todos los datos
print(df["AveragePrice"].std() / df["AveragePrice"].mean()) # coeficiente de variación

1.405978409775878
0.40267655549555065
0.2864030860614281

    3. Interpretación de los resultados.
        3.1. Ahora interpreta los resultados obtenidos de los diferentes estadísticos estudiados haciendo hincapié en aspectos interesantes de tus datos y explica lo mejor posible la naturaleza de los mismos.

In [ ]:
print(df["AveragePrice"].mean()) # media para todos los datos
print(df["AveragePrice"].std()) # desviación típica para todos los datos
print(df["AveragePrice"].std() / df["AveragePrice"].mean()) # coeficiente de variación
print(df["AveragePrice"].median()) #calculamos la mediana