In [1]:
import pandas as pd

1. En pairs anteriores hemos ido pudiendo sacar algunas conclusiones y contestando las preguntas que nos hac칤an las jefas. Desde la direcci칩n se est치n planteando cambiar el sistema de asiganci칩n de las solicitudes que llegan. En concreto, necesitan saber que categor칤a es la que recibe m치s tickets para poder asignar m치s empleados a esa categor칤a. Por esto nos piden que averiguemos qu칠 categor칤a es la que tiene m치s tickets. Adem치s nos piden que devolvamos esta consulta en un DataFrame.

游늷 NOTA Ordena los resultados de mayor a menor. Esto todav칤a no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values(). Aqu칤   ten칠is una explicaci칩n de c칩mo hacerlo.

In [2]:
df_tickets = pd.read_csv("datos/tickets_years.csv")

In [8]:
df_tickets["categor칤a"].unique()

array(['Acceso&%Login', 'Sistema', 'Software', 'Hardware', nan,
       'Acceso%&Login', 'Acceso-&Login', 'Acceso99Login', 'Acceso/Login'],
      dtype=object)

In [11]:
df_tickets_categoria = df_tickets.groupby("categor칤a")["id_ticket"].count().reset_index()

In [44]:
df_tickets_categoria = df_tickets_categoria.sort_values(by = "id_ticket", ascending = False)

In [45]:
df_tickets_categoria

       categor칤a  id_ticket
6        Sistema      38997
7       Software      19566
5       Hardware       9731
3   Acceso/Login       8659
4  Acceso99Login       6426
2  Acceso-&Login       5672
0  Acceso%&Login       4526
1  Acceso&%Login       3907

La categor칤a con m치s tickets es Sistema, con 38997

2. Desde la direcci칩n quieren seguir evaluando la situaci칩n planteada en el ejercicio anterior. Pero ahora quieres saber cual es la media de la satisfacci칩n por categor칤a. En concreto quieren saber si independientemente de la categor칤a los clientes salen satisfechos, para que en caso de que no sea as칤 poder identificar un posible problema subyacente. Por lo tanto, nos piden que calculemos la media de satisfacci칩n por cada una de las categor칤as que tenemos en el dataframe.

In [13]:
df_satisfaccion_categoria = df_tickets.groupby("categor칤a")["satisfacci칩n"].mean().reset_index()
df_satisfaccion_categoria

       categor칤a  satisfacci칩n
0  Acceso%&Login      4.059876
1  Acceso&%Login      3.954662
2  Acceso-&Login      4.087447
3   Acceso/Login      4.172075
4  Acceso99Login      4.105198
5       Hardware      4.100925
6        Sistema      4.102303
7       Software      4.106329

La media de satisfacci칩n es aproximadamente 4 para todas las categor칤as.

3. Quieren mejorar la consulta anterior y ahora nos piden que adem치s de la media les devolvamos la desviaci칩n est치ndar de la satisfacci칩n.

In [15]:
df_satisfaccion_stats = df_tickets.groupby("categor칤a")["satisfacci칩n"].agg(media_de_satisfaccion = ("mean"), desviacion_estandar_satisfaccion = ("std")).reset_index()
df_satisfaccion_stats

       categor칤a  media_de_satisfaccion  desviacion_estandar_satisfaccion
0  Acceso%&Login               4.059876                          1.292629
1  Acceso&%Login               3.954662                          1.344462
2  Acceso-&Login               4.087447                          1.272903
3   Acceso/Login               4.172075                          1.197885
4  Acceso99Login               4.105198                          1.256943
5       Hardware               4.100925                          1.262979
6        Sistema               4.102303                          1.253662
7       Software               4.106329                          1.254547

4. En nuestros datos, adem치s hemos visto que no solo tenemos categor칤as, y que las diferencias entre ellas no son especialmente significativas. Revisando los datos de nuevo, desde direcci칩n saben que hay dos tipos de tickets (Problema y Solicitud), bas치ndonos en esto, 쯛ay diferencias en la satisfacci칩n bas치ndonos en la categor칤a y el tipo de tickets?.

In [18]:
df_sat_categoria_tipo = df_tickets.groupby(["tipo", "categor칤a"])["satisfacci칩n"].mean().reset_index()
df_sat_categoria_tipo

         tipo      categor칤a  satisfacci칩n
0    Problema  Acceso%&Login      3.992799
1    Problema  Acceso&%Login      3.987052
2    Problema  Acceso-&Login      4.045079
3    Problema   Acceso/Login      4.228160
4    Problema  Acceso99Login      4.090354
5    Problema       Hardware      4.089293
6    Problema        Sistema      4.098409
7    Problema       Software      4.111156
8   Solicitud  Acceso%&Login      4.081698
9   Solicitud  Acceso&%Login      3.943448
10  Solicitud  Acceso-&Login      4.100438
11  Solicitud   Acceso/Login      4.153527
12  Solicitud  Acceso99Login      4.110276
13  Solicitud       Hardware      4.104656
14  Solicitud        Sistema      4.103600
15  Solicitud       Software      4.104709

No vemos grandes diferencias en la media de satisfacci칩n por categor칤a y tipo.

5. A pesar de que sabemos que tenemos muchos empleados y varios departamentos, nuestras jefas no saben cu치ntas personas hay en cada uno de estos departamentos. Por esto, nos piden que calculemos el n칰mero de empleados que tenemos por departamento. Devolved estos resultados en un dataframe. Ordenadad los resultados de mayor a menor bas치ndonos en la cantidad de empleados que tenemos.

In [19]:
df_empleo = pd.read_csv("datos/empleo.csv")
df_empleo.head()

,Unnamed: 0,turno,id_empleado,apellido,nombre,id_puesto,email,puesto,departamento,tipo_puesto
0,0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,1,NaN,60,DIAZ,PATRICIA,50-32200,patricia.diaz@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
2,2,B,2,DUARTE,ANTONIO,50-32200,antonio.duarte@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
3,3,NaN,24,VILLANUEVA,JESUS,50-32200,jesus.villanueva@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
4,4,NaN,98,GALLEGOS,PATRICIA,50-32200,patricia.gallegos@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo

In [25]:
df_empleados_dep = df_empleo.groupby("departamento")["id_empleado"].count().reset_index()
df_empleados_dep

                                   departamento  id_empleado
0   AUDITORIA INTERNA, CALIBRACION Y METROLOGIA           70
1                                  CONTABILIDAD           25
2                         CONTROL DE PRODUCCION          127
3                         INGENIERIA DE CALIDAD          395
4                     INGENIERIA DE MANUFACTURA          228
5                                 MANTENIMIENTO          258
6                                    MATERIALES          125
7                                      PERSONAL           20
8                                    PRODUCCION          475
9                              Recursos Humanos          117
10                  SISTEMAS, TRAFICO Y ADUANAS          160

6. BONUS Quieren saber que departamentos son los que tienen de media un indice de satisfacci칩n. 游눠Pista Para responder a esta pregunta tendremos que unir los dataframes con m칠todos aprendidos en lecciones anteriores de Pandas.

In [26]:
display(df_tickets.head(1))
display(df_empleo.head(1))

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n,a침o,semestre
0,0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016,2췈 semestre

,Unnamed: 0,turno,id_empleado,apellido,nombre,id_puesto,email,puesto,departamento,tipo_puesto
0,0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo

In [27]:
df_completo = df_tickets.merge(df_empleo, on='id_empleado')
df_completo.head()

,Unnamed: 0_x,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,...,semestre,Unnamed: 0_y,turno,apellido,nombre,id_puesto,email,puesto,departamento,tipo_puesto
0,0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,...,2췈 semestre,796,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,Almacenista,MATERIALES,Administrativo
1,3240,GWLESR-6142530250,2016-06-09,1735.0,32.0,Sistema,Problema,2 - Normal,1 - Baja,11.0,...,1췈 semestre,796,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,Almacenista,MATERIALES,Administrativo
2,4858,KDLTSR-9842504751,2016-05-14,1735.0,27.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,8.0,...,1췈 semestre,796,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,Almacenista,MATERIALES,Administrativo
3,7035,KMLTSR-6042483650,2016-04-23,1735.0,26.0,Sistema,Solicitud,2 - Normal,2 - Media,10.0,...,1췈 semestre,796,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,Almacenista,MATERIALES,Administrativo
4,593,GDLTNR-0043045356,2017-11-06 00:00:00,1735.0,23.0,Acceso%&Login,Solicitud,2 - Normal,0 - Sin Asignar,0.0,...,2췈 semestre,796,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,Almacenista,MATERIALES,Administrativo

In [28]:
df_sat_dep = df_completo.groupby("departamento")["satisfacci칩n"].mean().reset_index()
df_sat_dep

                                   departamento  satisfacci칩n
0   AUDITORIA INTERNA, CALIBRACION Y METROLOGIA      4.075758
1                                  CONTABILIDAD      4.051587
2                         CONTROL DE PRODUCCION      4.085525
3                         INGENIERIA DE CALIDAD      4.109153
4                     INGENIERIA DE MANUFACTURA      4.095234
5                                 MANTENIMIENTO      4.087153
6                                    MATERIALES      4.125700
7                                      PERSONAL      4.097264
8                                    PRODUCCION      4.101763
9                              Recursos Humanos      4.121715
10                  SISTEMAS, TRAFICO Y ADUANAS      4.102721

7. BONUS Por 칰ltimo, quieres conocer los 5 empleados que tienen mayor valor en la satisfacci칩n y los 5 empleados que tienen un menor valor de satisfacci칩n. Todo esto respecto a la media. En este caso, conseguiremos una dataframe, donde tengamos el el id del empleado y su satisfacci칩n, pero no sabemos su nombre y appelidos. 쯉e os ocurre como conseguir la informaci칩n del nombre del empleado?

Para conseguir nombres y apellidos tenemos que unir los dataframes como en el ejercicio anterior.

In [30]:
df_completo.sample(4)

,Unnamed: 0_x,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,...,semestre,Unnamed: 0_y,turno,apellido,nombre,id_puesto,email,puesto,departamento,tipo_puesto
1073,3868,GHLTSR-9743717794,2019-09-09 00:00:00,979.0,17.0,Sistema,Solicitud,2 - Normal,3 - Alta,7.0,...,2췈 semestre,889,NaN,AMAYA,MARIA,70-21120,maria.amaya@tractchun.com,Auxiliar de Recursos Humanos,Recursos Humanos,Administrativo
91273,15477,KWLENR-0044049695,2020-08-06 00:00:00,1679.0,36.0,Acceso/Login,Problema,2 - Normal,1 - Baja,0.0,...,2췈 semestre,144,NaN,MONTENEGRO,GUADALUPE,15-24100,guadalupe.montenegro@tractchun.com,Supervisor de Producci칩n,PRODUCCION,Mandos Medios
44316,7514,KHLENR-8043332436,2018-08-20 00:00:00,783.0,34.0,Acceso-&Login,Problema,2 - Normal,3 - Alta,0.0,...,2췈 semestre,1217,NaN,RAMIREZ,DOMINGUEZ,80-22210,dominguez.ramirez@tractchun.com,Supervisor de Mantenimiento,MANTENIMIENTO,Mandos Medios
87250,8519,SDLTSR-9742647621,2016-10-04,552.0,26.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,7.0,...,2췈 semestre,1973,NaN,LOPEZ,DIOGENES,80-22200,diogenes.lopez@tractchun.com,Supervisor General de Mantenimiento,MANTENIMIENTO,Mandos Medios

In [38]:
df_sat_emp = df_completo.groupby("id_empleado")["satisfacci칩n"].mean().reset_index()
df_sat_emp = df_sat_emp.sort_values(by = "satisfacci칩n")

In [39]:
df_sat_emp

      id_empleado  satisfacci칩n
838         839.0      3.488372
1724       1725.0      3.567568
1824       1825.0      3.571429
1998       1999.0      3.575000
1365       1366.0      3.577778
...           ...           ...
1835       1836.0      4.586957
1942       1943.0      4.589286
858         859.0      4.612245
745         746.0      4.641026
621         622.0      4.744681

[2000 rows x 2 columns]

In [40]:
print("Los empleados con m치s satisfacci칩n media son: ")
df_sat_emp.tail()

Los empleados con m치s satisfacci칩n media son:

      id_empleado  satisfacci칩n
1835       1836.0      4.586957
1942       1943.0      4.589286
858         859.0      4.612245
745         746.0      4.641026
621         622.0      4.744681

In [41]:
print("Los empleados con menos satisfacci칩n media son: ")
df_sat_emp.head()

Los empleados con menos satisfacci칩n media son:

      id_empleado  satisfacci칩n
838         839.0      3.488372
1724       1725.0      3.567568
1824       1825.0      3.571429
1998       1999.0      3.575000
1365       1366.0      3.577778