La exploraci칩n de datos es una parte cr칤tica del proceso de an치lisis de datos. Para los analistas de datos, hacer una exploraci칩n de datos con Pandas es importante por varias razones:
Comprender los datos: antes de comenzar a analizar datos, es importante comprender los datos con los que se est치 trabajando.
Identificar problemas de calidad de datos: los datos pueden contener errores, valores faltantes o datos duplicados. Al utilizar Pandas, como analistas de datos podemos identificar r치pidamente estos problemas y determinar la mejor manera de abordarlos antes de comenzar a analizar los datos.
Identificar patrones y tendencias: al explorar los datos con Pandas, los analistas de datos podemos identificar patrones y tendencias en los datos que pueden ayudar a generar ideas y obtener informaci칩n valiosa.
En resumen, hacer una exploraci칩n de datos con Pandas es esencial para cualquier analista de datos, ya que puede ayudar a comprender los datos, identificar problemas de calidad de datos, identificar patrones y tendencias y visualizar los datos para una mejor comprensi칩n y presentaci칩n de los resultados del an치lisis. En los pr칩ximos pair programmings vamos a empezar a explorar los datos para identificar posibles problemas en los datos, comprender los datos y familiarizanos con ellos.

1. Cargar todos los datasets que os hemos compartido en este pair programming.

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel("datos/2016.xlsx")

In [3]:
df2 = pd.read_csv("datos/Agentes.csv")

In [4]:
df3 = pd.read_csv("datos/Empleados.csv")

In [5]:
df2.head()

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [6]:
df1.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,Web,칈ndice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

In [7]:
df3.head()

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

2. Haced una exploraci칩n b치sica cada uno de los DataFrames, esta exploraci칩n debe incluir:

- 쮺u치ntas filas y columnas tiene el DataFrame?

- Mostrad las primeras cinco filas y las 칰ltimas cinco filas del DataFrame.

- Mostrad 2 filas al azar del DataFrame.

- 쮺u치l es el nombre de las columnas del DataFrame?

- 쮺u치les son los principales est치disticos del DataFrame? Mostrad por separado las variables categ칩ricas y las variables num칠ricas.

- 쮺u치l es el porcentaje de valores nulos en cada columna?

- 쮺u치ntos valores 칰nicos tenemos para cada una de las columnas?

- De aquellas columnas que tengan menos de 6 elementos 칰nicos mostrad cada uno de sus valores 칰nicos.

In [8]:
def propiedades(df):
    print(df.shape)
    print(".................")
    display(df.head())
    print("................")
    display(df.tail())
    print(".........................")
    print(df.sample(2))
    print(".,,,,,,,,,,,,,,.")
    print(df.columns)
    print(";;;;;;;;;;")
    print(df.describe())
    print("....................................................")
    df.info()
    print("....................................................")
    porcentaje_nulos = (df.isnull().sum()*100) / df.shape[0]
    print(f"EL PORCENTAJE DE NULOS ES......{porcentaje_nulos}")
    for columna in df.columns:
        valores_unicos =  df[columna].unique()
        if len(valores_unicos) < 6:
            
            print(columna)
            print(valores_unicos)

In [9]:
propiedades(df1)

(13051, 12)
.................

,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,Web,칈ndice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,www.tractchun.es,1.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,www.tractchun.es,1.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

................

,ID Ticket,Fecha,ID Empleado,ID Agente,Categor칤a,Tipo,Severidad,Prioridad,D칤as Resoluci칩n,Satisfacci칩n,Web,칈ndice
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0,www.tractchun.es,1.0
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,www.tractchun.es,1.0
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0,www.tractchun.es,1.0
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0,www.tractchun.es,1.0
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,www.tractchun.es,1.0

.........................
               ID Ticket      Fecha  ID Empleado  ID Agente      Categor칤a  \
11735  THLTNR-4042434292 2016-03-05       1709.0       22.0  Acceso&%Login
9016   SHLTNR-0042378451 2016-01-09        565.0       14.0  Acceso&%Login

            Tipo   Severidad Prioridad  D칤as Resoluci칩n  Satisfacci칩n  \
11735  Solicitud  2 - Normal  3 - Alta              0.0           4.0
9016   Solicitud  2 - Normal  3 - Alta              0.0           4.0

                    Web  칈ndice
11735  www.tractchun.es      1.0
9016   www.tractchun.es      1.0
.,,,,,,,,,,,,,,.
Index(['ID Ticket', 'Fecha', 'ID Empleado', 'ID Agente', 'Categor칤a', 'Tipo',
       'Severidad', 'Prioridad', 'D칤as Resoluci칩n', 'Satisfacci칩n', 'Web',
       '칈ndice '],
      dtype='object')
;;;;;;;;;;
        ID Empleado     ID Agente  D칤as Resoluci칩n  Satisfacci칩n  칈ndice
count  13049.000000  13050.000000     13049.000000  13037.000000  13038.0
mean     999.737988     25.425134         4.551843      3.979673      1.0
std      580.422512     14.363362         4.352681      1.326657      0.0
min        1.000000      1.000000         0.000000      1.000000      1.0
25%      499.000000     13.000000         0.000000      4.000000      1.0
50%      995.000000     26.000000         4.000000      4.000000      1.0
75%     1505.000000     38.000000         7.000000      5.000000      1.0
max     2000.000000     50.000000        21.000000      5.000000      1.0
....................................................
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13051 entries, 0 to 13050
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID Ticket        13050 non-null  object
 1   Fecha            13025 non-null  datetime64[ns]
 2   ID Empleado      13049 non-null  float64
 3   ID Agente        13050 non-null  float64
 4   Categor칤a        13038 non-null  object
 5   Tipo             13050 non-null  object
 6   Severidad        13025 non-null  object
 7   Prioridad        13025 non-null  object
 8   D칤as Resoluci칩n  13049 non-null  float64
 9   Satisfacci칩n     13037 non-null  float64
 10  Web              13024 non-null  object
 11  칈ndice           13038 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 1.2+ MB
....................................................
EL PORCENTAJE DE NULOS ES......ID Ticket          0.007662
Fecha              0.199218
ID Empleado        0.015324
ID Agente          0.007662
Categor칤a          0.099609
Tipo               0.007662
Severidad          0.199218
Prioridad          0.199218
D칤as Resoluci칩n    0.015324
Satisfacci칩n       0.107271
Web                0.206881
칈ndice             0.099609
dtype: float64
Categor칤a
['Acceso&%Login' 'Sistema' 'Software' 'Hardware' nan]
Tipo
['Problema' 'Solicitud' nan]
Prioridad
['0 - Sin Asignar' nan '3 - Alta' '2 - Media' '1 - Baja']
Web
['www.tractchun.es' nan]
칈ndice
[ 1. nan]

In [10]:
propiedades(df2)

(50, 4)
.................

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

................

,ID Agente,Nombre,email,Fecha de Nacimiento
45,46,Rosa Olguin,rosa.olguin@tractchun.com,1985/5/30
46,47,Yomaira Agudelo,yomaira.agudelo@tractchun.com,1974/12/15
47,48,Aurelio Tanori,aurelio.tanori@tractchun.com,1979/8/29
48,49,Armando Sierra,armando.sierra@tractchun.com,1991/4/5
49,50,Ramon Macias,ramon.macias@tractchun.com,1980/3/4

.........................
    ID Agente            Nombre                           email  \
34         35           Melinda   melinda.barcelo@tractchun.com
23         24  Barbara Grijalva  barbara.grijalva@tractchun.com

   Fecha de Nacimiento
34           1996/5/30
23            1972/6/5
.,,,,,,,,,,,,,,.
Index(['ID Agente', 'Nombre', 'email', 'Fecha de Nacimiento'], dtype='object')
;;;;;;;;;;
       ID Agente
count   50.00000
mean    25.50000
std     14.57738
min      1.00000
25%     13.25000
50%     25.50000
75%     37.75000
max     50.00000
....................................................
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID Agente            50 non-null     int64
 1   Nombre               50 non-null     object
 2   email                50 non-null     object
 3   Fecha de Nacimiento  50 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB
....................................................
EL PORCENTAJE DE NULOS ES......ID Agente              0.0
Nombre                 0.0
email                  0.0
Fecha de Nacimiento    0.0
dtype: float64

In [11]:
propiedades(df3)

(2000, 6)
.................

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

................

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
1995,NaN,1903,RAMOS,JOSE,55-23200,jose.ramos@tractchun.com
1996,NaN,1904,RUIZ,GUADALUPE,80-22220,guadalupe.ruiz@tractchun.com
1997,NaN,1935,ZEPEDA,FRANCISCO,15-24100,francisco.zepeda@tractchun.com
1998,NaN,1953,ROBLES,ELIZABETH,15-24100,elizabeth.robles@tractchun.com
1999,NaN,1993,ENRIQUEZ,HERCULANO,45-11000,herculano.enriquez@tractchun.com

.........................
     Turno  ID Empleado Apellido  Nombre ID Puesto  \
1000   NaN         1439  NAVARRO  MOLINA  20-31320
959    NaN         1173   TORRES    ROSA  80-22210

                             Email
1000  molina.navarro@tractchun.com
959      rosa.torres@tractchun.com
.,,,,,,,,,,,,,,.
Index(['Turno', 'ID Empleado', 'Apellido', 'Nombre', 'ID Puesto', 'Email'], dtype='object')
;;;;;;;;;;
       ID Empleado
count  2000.000000
mean   1000.500000
std     577.494589
min       1.000000
25%     500.750000
50%    1000.500000
75%    1500.250000
max    2000.000000
....................................................
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Turno        8 non-null      object
 1   ID Empleado  2000 non-null   int64
 2   Apellido     2000 non-null   object
 3   Nombre       2000 non-null   object
 4   ID Puesto    2000 non-null   object
 5   Email        2000 non-null   object
dtypes: int64(1), object(5)
memory usage: 93.9+ KB
....................................................
EL PORCENTAJE DE NULOS ES......Turno          99.6
ID Empleado     0.0
Apellido        0.0
Nombre          0.0
ID Puesto       0.0
Email           0.0
dtype: float64
Turno
['A' nan 'B' 'C' 'D']

游늷 NOTA Fijaos que vamos a hacer lo mismo para cada archivo que tenemos. Una buena pr치ctica ser칤a crearnos una funci칩n que apliquemos a cada conjunto de datos. Nuestra funci칩n recibir치 un par치metro, que ser치 el dataframe entero

游늷 NOTA Nos estamos convirtiendo en analistas de datos y no nos debe valer solo con escribir el c칩digo, os recomendamos que reviseis bien los resultados y empezais a extraer algunas conclusiones. 쮿ay datos raros en nuestros conjuntos de datos? 쯊enemos nulos?, etc

3. Modificaciones b치sicas de los conjuntos de datos:

- Cambiad el nombre de las columnas para que todas est칠n en min칰sculas y reemplazad los espacios por _.

- Para las columnas de web e 칤ndice en el archovo de 2016.xlsx ya hemos visto que tiene un 칰nico valor 칰nico, lo cual no tiene mucho sentido ya que no nos aporta informaci칩n 칰til. En este ejercicios tendr칠is que eliminar dichas columnas del dataframe.

- Establece la columna id_ticket de la tabla de 2016.xlsx como 칤ndice del DataFrame.

In [12]:
# Modificamos los nombres de las columnas a min칰sculas y cambiamos los espacios por _

columnas_nuevas_df1 = {col :  col.lower().replace(" ", "_") for col in df1.columns}
columnas_nuevas_df2 = {col :  col.lower().replace(" ", "_") for col in df2.columns}
columnas_nuevas_df3 = {col :  col.lower().replace(" ", "_") for col in df3.columns}

In [13]:
# Cambiamos los nombres de las columnas

df1.rename(columns = columnas_nuevas_df1, inplace = True)
df2.rename(columns = columnas_nuevas_df2, inplace = True)
df3.rename(columns = columnas_nuevas_df3, inplace = True)

In [17]:
# Eliminamos las columnas web e 칤ndice 
df1 = df1.drop(['칤ndice_', 'web'], axis = 1)
df1

,id_ticket,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...
13046,TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0
13047,TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0
13048,TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0
13049,TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0
13050,TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0

In [18]:
df1.set_index(["id_ticket"], inplace = True)

In [19]:
df1

,fecha,id_empleado,id_agente,categor칤a,tipo,severidad,prioridad,d칤as_resoluci칩n,satisfacci칩n
id_ticket,,,,,,,,,
GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
...,...,...,...,...,...,...,...,...,...
TWRTSR-6442574526,2016-07-23,962.0,25.0,Sistema,Solicitud,1 - Menor,1 - Baja,14.0,4.0
TWRTSR-7142570866,2016-07-19,126.0,38.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0
TWRTSR-7742498308,2016-05-08,510.0,3.0,Sistema,Solicitud,3 - Mayor,1 - Baja,2.0,5.0
TWRTSR-8642558628,2016-07-07,1942.0,26.0,Sistema,Solicitud,1 - Menor,1 - Baja,16.0,4.0
TWRTSR-8742628897,2016-09-15,919.0,8.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0

4. Guarda los csv's sobre los que hay치is hecho cambios para usarlos en pr칩ximos pairs .

In [20]:
df1.to_csv("datos/2016_edit.csv")
df2.to_csv("datos/Agentes_edit.csv")
df3.to_csv("datos/Empleados_edit.csv")